[Unit]
Description=Ipmi Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/ipmi_exporter/ipmi_exporter.sh

[Install]
WantedBy=multi-user.target
