Package: ipmiexporter
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: freeipmi, nmap
Maintainer: Fabian Paul <fabian.paul@student.hpi.de>
Description: Prometheus IPMI exporter
